# Loops

## For loops

In [1]:
seq=[1,2,3,4,5,6]
for i in seq:
    print(i)

1
2
3
4
5
6

In [2]:
q=[2,6,7,9,4,3]
for i in q:
    print(i)

2
6
7
9
4
3

In [3]:
fruits=['apple','banana','orange','mango']
for item in fruits:
    print(item)

apple
banana
orange
mango

In [6]:
lst=[1,2,3,4,5,6,7]
for i in lst:
    print(i,end='')

1234567

In [7]:
lst=[2,3,5,6,7]
for x in lst:
    print(x,end=' ')

2 3 5 6 7

In [8]:
for x in range(9):
    print(x,'hello')

0 hello
1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello

In [10]:
for i in range(1,13):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12

In [11]:
for i in range(11,32):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31

In [13]:
for i in range(100,1,-2):
    print(i,end=' ')

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [14]:
for i in range(12,45,3):
    print(i)

12
15
18
21
24
27
30
33
36
39
42

In [16]:
items=['item1','item2','item3','item4']
for i in range(len(items)):
    print("item at index",i," is: ",items[i] )

item at index 0  is:  item1
item at index 1  is:  item2
item at index 2  is:  item3
item at index 3  is:  item4

In [25]:
a=[1,2,3,4,5]
sum1=0
for i in a:
    sum1=sum1+i

print("sum:",sum1)

sum: 15

In [26]:
x=[1,2,3,4,5]
sum1=0
for i in x:
    sum1=sum1+i
    print("after",i,"iteration the sum:",sum1)

after 1 iteration the sum: 1
after 2 iteration the sum: 3
after 3 iteration the sum: 6
after 4 iteration the sum: 10
after 5 iteration the sum: 15

In [27]:
y=['pop','rock','jazz','sapna']
for i in range(1):
    print("i like",y[2])

i like jazz

In [29]:
lb=int(input('enter lower bound values:'))
ub=int(input('enter upper bound values:'))
for i in range(lb,ub+1):
    if i%2==0:
        print(i,end=',')

enter lower bound values: 8
enter upper bound values: 22

8,10,12,14,16,18,20,22,

In [31]:
n=int(input("enter the number:"))
for i in range(n):
    print("*",end=" ")

enter the number: 6

* * * * * *

In [39]:
lb=int(input())
ub=int(input())
s=0
for i in range(lb,ub+1):
    if(i%2==0):
        s=s+i
        print(i,end=' ')

print('\nsum is',s)

 2
 10

2 4 6 8 10
sum is 30

In [41]:
for num in range(1,100):
    if num%5==0 and num%7!=0:
        print(num)

5
10
15
20
25
30
40
45
50
55
60
65
75
80
85
90
95

In [43]:
a=int(input('enter multiplication table:'))
for i in range(1,10):
    print(a,'*',i, '=',a*i)

enter multiplication table: 7

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [45]:
m=int(input("input the number:"))
for i in range(m):
    for j in range(m+1):
        print('*',end=' ')

input the number: 5

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [2]:
for i in range(5):
    for j in range(5-i):
        print("*",end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [22]:
x=int(input("Enter the multiplication table you want: "))
print('\n')
for i in range(1,11):
    print("|",x*i,"|",end="")
print('\n')
for i in range(1,11):
    print("|",i,"|",end=" ")
print('\n')    
for i in range(1,11):
    print("|",x,"|",end=" ")

Enter the multiplication table you want:  6

| 6 || 12 || 18 || 24 || 30 || 36 || 42 || 48 || 54 || 60 |

| 1 | | 2 | | 3 | | 4 | | 5 | | 6 | | 7 | | 8 | | 9 | | 10 |

| 6 | | 6 | | 6 | | 6 | | 6 | | 6 | | 6 | | 6 | | 6 | | 6 |

In [6]:
start = 2
end = 10
for i in range(start, end+1, 5):
	for j in range(1, 11):
		for k in range(i, i+5):
			print(k," x ",j," = ",(k*j), end="  ")
		print()
	print()
print()

2  x  1  =  2  3  x  1  =  3  4  x  1  =  4  5  x  1  =  5  6  x  1  =  6
2  x  2  =  4  3  x  2  =  6  4  x  2  =  8  5  x  2  =  10  6  x  2  =  12
2  x  3  =  6  3  x  3  =  9  4  x  3  =  12  5  x  3  =  15  6  x  3  =  18
2  x  4  =  8  3  x  4  =  12  4  x  4  =  16  5  x  4  =  20  6  x  4  =  24
2  x  5  =  10  3  x  5  =  15  4  x  5  =  20  5  x  5  =  25  6  x  5  =  30
2  x  6  =  12  3  x  6  =  18  4  x  6  =  24  5  x  6  =  30  6  x  6  =  36
2  x  7  =  14  3  x  7  =  21  4  x  7  =  28  5  x  7  =  35  6  x  7  =  42
2  x  8  =  16  3  x  8  =  24  4  x  8  =  32  5  x  8  =  40  6  x  8  =  48
2  x  9  =  18  3  x  9  =  27  4  x  9  =  36  5  x  9  =  45  6  x  9  =  54
2  x  10  =  20  3  x  10  =  30  4  x  10  =  40  5  x  10  =  50  6  x  10  =  60

7  x  1  =  7  8  x  1  =  8  9  x  1  =  9  10  x  1  =  10  11  x  1  =  11
7  x  2  =  14  8  x  2  =  16  9  x  2  =  18  10  x  2  =  20  11  x  2  =  22
7  x  3  =  21  8  x  3  =  24  9  x  3  =  27  10  x  3  =  30  11  x  3  =  33
7  x  4  =  28  8  x  4  =  32  9  x  4  =  36  10  x  4  =  40  11  x  4  =  44
7  x  5  =  35  8  x  5  =  40  9  x  5  =  45  10  x  5  =  50  11  x  5  =  55
7  x  6  =  42  8  x  6  =  48  9  x  6  =  54  10  x  6  =  60  11  x  6  =  66
7  x  7  =  49  8  x  7  =  56  9  x  7  =  63  10  x  7  =  70  11  x  7  =  77
7  x  8  =  56  8  x  8  =  64  9  x  8  =  72  10  x  8  =  80  11  x  8  =  88
7  x  9  =  63  8  x  9  =  72  9  x  9  =  81  10  x  9  =  90  11  x  9  =  99
7  x  10  =  70  8  x  10  =  80  9  x  10  =  90  10  x  10  =  100  11  x  10  =  110

## List comprehension

In [7]:
squares=[]
for i in range(8):
    squares.append(i**2)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49]

In [8]:
squares=[i**2 for i in range(8)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49]

In [12]:
movies=['Titanic','2012','Avatar','Shaiatan']
[len(i) for i in movies]

[7, 4, 6, 8]

In [25]:
lst=[-2,-3,-5,-6,-1,8]
absv=[abs(x) for x in lst]
absv

[2, 3, 5, 6, 1, 8]

In [26]:
lst=[-2,-3,-5,-6,-1,8]
both = []
for x in lst:
    if x<0:
        both.append(abs(x))
    else:
        both.append(x**2)
both

[2, 3, 5, 6, 1, 64]

In [27]:
[abs(x) if x<0 else x**2 for x in lst]

[2, 3, 5, 6, 1, 64]

## Set comprehension

In [31]:
movies=['Titanic','2012','Avatar','Shaiatan']
a=set()
for i in movies:
    a.add(len(i))

a

{4, 6, 7, 8}

In [32]:
movies=['Titanic','2012','Avatar','Shaiatan']
{len(i) for i in movies}

{4, 6, 7, 8}

## Enumurate

In [34]:
movies={'Titanic':4 ,'2012':7.8 ,'Avatar':7 ,'Shaiatan':5.8}
{len(i) for i in movies}

{4, 6, 7, 8}

## Break statement

In [1]:
numbers=[1,2,3,4,5]
for num in numbers:
    if num==4:
        break
        print(num)

In [4]:
numbers=[1,2,3,4,5]
for num in numbers:
    if num==4:
        break
    print(num)

1
2
3

In [5]:
numbers=[1,2,3,4,5]
for num in numbers:
    if num==4:
        break
print(num)

4

In [6]:
numbers=[1,2,3,4,5]
for num in numbers:
    if num==4:
        print(num)

4

## Continue statement

In [7]:
numbers=[1,2,3,4,5]
for num in numbers:
    if num%2==0:
        continue
    print(num)

1
3
5

In [8]:
numbers=[1,2,3,4,5]
for num in numbers:
    if num%2==0:
        continue
        print(num)

In [9]:
numbers=[1,2,3,4,5]
for num in numbers:
    if num%2==0:
        continue
print(num)

5

In [11]:
numbers=[1,2,3,4,5]
for num in numbers:
    if num%2==0:
        print(num)

2
4

## For loop with else

In [1]:
numbers=[1,2,3,4]
for item in numbers:
    print(item)

else:
    print("no item left in the list")

1
2
3
4
no item left in the list

In [2]:
numbers=[1,2,3,4,5,6]
for item in numbers:
    if item%2==0:
        print(item)
        break

2

## While loop

In [3]:
x=0
while x<6:
    x=x+1
    print(x)

1
2
3
4
5
6

In [4]:
x=0
while x<8:
    print("x is",x)
    x=x+1

x is 0
x is 1
x is 2
x is 3
x is 4
x is 5
x is 6
x is 7

In [6]:
x=8
while x>1:
    print("x is {}".format(x))
    x-=1

x is 8
x is 7
x is 6
x is 5
x is 4
x is 3
x is 2

In [8]:
i=100
s=20
while i<=200:
    s=s+i
    i=i+100

print(s)

320

In [12]:
i=0
s=0


while(i<=5):
    s=s+i
    i+=2

print(s)

6

In [13]:
x=0
print(x)
while x<5:
    x=x+1

print(x)

0
5

In [15]:
i=0
s=0
while(i<=10):
    s=s+i
    i+=2

print(s)

30

In [16]:
i=0
while(i<=100):
    print(i,end=' ')
    i=i+1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [19]:
n=int(input('Enter n:'))
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1

print('The sum is',sum)

Enter n: 5

The sum is 15

In [18]:
s=0
while True
    a=input('Enter a value:')
    if(a=='done'):
        break
        
    s=s+int(a)

print(s)

Enter a value: 7
Enter a value: 8
Enter a value: 4
Enter a value: done

19

## While loop with else

In [1]:
x=7
while x>1:
    print("x is {}".format(x))
    x-=1
    if x==8:
        break

else:
    print("x is no longer greater then 1")

x is 7
x is 6
x is 5
x is 4
x is 3
x is 2
x is no longer greater then 1

In [6]:
x=0
while x<8:
    print("x is {}".format(x))
    x+=1
else:
    print("x is no longer < 8")

x is 0
x is 1
x is 2
x is 3
x is 4
x is 5
x is 6
x is 7
x is no longer < 8

In [7]:
numbers=[1,2,3,4,5]
index=0
while index < len(numbers):
    print(numbers[index])
    index+=1

else:
    print("no item left in the list")

1
2
3
4
5
no item left in the list

## Factorial

In [5]:
a=int(input())
fact=1
for i in range(a,0,-1):
    fact=fact*i
print(fact)

 5

120

In [6]:
a=int(input())
fact=1
for i in range(1,a+1):
    fact=fact*1
    print("after",i,"iteration the factorial value is:",fact)

 4

after 1 iteration the factorial value is: 1
after 2 iteration the factorial value is: 1
after 3 iteration the factorial value is: 1
after 4 iteration the factorial value is: 1

In [13]:
num=int(input("enter a number:"))
fact=1
for i in range(1,num+1):
    fact*=i
print("The factorial of",num,"is",fact)

enter a number: 6

The factorial of 6 is 720